{% extends '../layouts/navbar.html' %}

{% load widget_tweaks %}

{% block content %}
{% comment %} 
  {{form}} {% endcomment %}

  <form method="POST" class="d-flex justify-content-center vh-100 mt-4">
    {% csrf_token %}

    <div class="col-md-8 overflow-auto px-5" id="stdout">
      <label class="h6 mb-3">Información del paciente</label>

      {% comment %} Nombre {% endcomment %}
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre(es)</span>
        {% render_field form.name class+="form-control" %}
      </div>

      {% comment %} Apellidos {% endcomment %}
      <div class="input-group mb-3">
        <span class="input-group-text">Paterno</span>
        {% render_field form.paterno class+="form-control" %}

        <span class="input-group-text">Materno</span>
        {% render_field form.materno class+="form-control" %}
      </div>

      {% comment %} Fecha de nacimiento y sexo {% endcomment %}
      <div class="input-group mb-3">
        <span class="input-group-text">Fecha de nacimiento</span>
        {% render_field form.birthdate type="date" class+="form-control" %}

        <span class="input-group-text">Sexo</span>
        {% render_field form.gender class+="form-control" %}
      </div>

      {% comment %} Tipo de urgencias {% endcomment %}
      <div class="input-group mb-3">

        <span class="input-group-text">Unidad medica</span>
        {% render_field form.medical_unit list="units" class+="form-select" %}

        <datalist id="units">
          {% for unit in medical_units %}
          <option value="{{ unit.name }}">
            {{ unit.name }}
          </option>
          {% endfor %}
        </datalist>

      </div>

      <div class="col d-flex mt-3 gap-2">
        <button class="w-50 btn btn-outline-primary" type="submit">
          Cancelar
        </button>
        <button class="w-50 btn btn-primary " type="submit">
          Registrar
        </button>
      </div>
    </div>
  </form>
{% endblock %}
