{% extends '../layouts/navbar.html' %}

{% block content %}
     <div class="container-lg d-flex mt-4">
    <div class="col-md-6">
      {% comment %}seccion izquierda{% endcomment %}
        <div class="container-lg d-flex mt-3">
            <div class="row">
            <h1 class="h3 mb-3">Personal</h1>
            <div class="row">
                <span class="input-group-text">DR. Rafael Gonzales Betancur</span>
            </div>
            <div class="row">
                <span class="input-group-text">DR Juan Epinoza Lopez</span>
            </div>
                <div class="row">
                <span class="input-group-text">DR Ivan Epinoza Lopez</span>
            </div>
            <div class="row">
                <span class="input-group-text">DR Ali Castañon Amezquita</span>
            </div>
            </div>
        </div>
        <div class="container fs-5 pt-5">
            <label class="fw-bold">Siguientes</label>
            <ul>
            <li>GONZALO LUIS BALCAZAR CAMPOVERDE</li>
            <li>CARLOS DANIEL VILLAVICENCIO PESANTEZ</li>
            <li>XAVIER EDUARDO MONTALVO APONTE</li>
             </ul>
        </div>
    </div>


    <div class="col-md-6 overflow-auto px-5" id="stdout">
      {% comment %}Seccion derecha{% endcomment %}
     <label class="h6 mb-3">Pacientes atendidos</label>
      <div class="container mt-2">
        <div class="rounded p-3 border">
          <div class="col-12 ">
            <img src="../../static/img/atendidos.png" alt="Mi Imagen" class="img-fluid w-50">
          </div>
        </div>
      </div>
         <label class="h6 mb-3">Reportes de consultorios</label>
      <div class="container mt-2">
        <div class="rounded p-3 border">
          <div class="col-12 ">
            <img src="../../static/img/consultorios.png" alt="Mi Imagen" class="img-fluid w-70">
          </div>
        </div>
      </div>
    </div>
     </div>

{% endblock %}