{% extends 'agenda/base-nav.html' %}
{% load static %}

{% block script %}
    <script id="events">
        [
            {
                "name": "Ir al fútbol",
                "start": "2024-01-10T14:00:00.000Z",
                "end": "2024-01-10T16:00:00.000Z"
            },
            {
                "name": "Ir al gym",
                "start": "2024-02-11T07:00:00.000Z",
                "end": "2024-02-11T08:00:00.000Z"
            },
            {
                "name": "Reunión de trabajo",
                "start": "2024-01-10T10:00:00.000Z",
                "end": "2024-01-10T12:00:00.000Z"
            },
            {
                "name": "Cena con amigos",
                "start": "2024-01-10T19:00:00.000Z",
                "end": "2024-01-10T21:00:00.000Z"
            },
            {
                "name": "Clase de yoga",
                "start": "2024-02-11T09:00:00.000Z",
                "end": "2024-02-11T10:00:00.000Z"
            },
            {
                "name": "Llamada con el cliente",
                "start": "2024-02-11T11:00:00.000Z",
                "end": "2024-02-11T11:30:00.000Z"
            },
            {
                "name": "Visita al médico",
                "start": "2024-02-11T14:00:00.000Z",
                "end": "2024-02-11T15:00:00.000Z"
            },
            {
                "name": "Compras en el supermercado",
                "start": "2024-01-15T16:00:00.000Z",
                "end": "2024-01-15T17:00:00.000Z"
            },
            {
                "name": "Cita en el dentista",
                "start": "2024-01-20T10:00:00.000Z",
                "end": "2024-01-20T11:00:00.000Z"
            },
            {
                "name": "Caminata en el parque",
                "start": "2024-01-20T12:00:00.000Z",
                "end": "2024-01-20T13:00:00.000Z"
            },
            {
                "name": "Junta de proyectos",
                "start": "2024-01-25T09:00:00.000Z",
                "end": "2024-01-25T10:00:00.000Z"
            },
            {
                "name": "Almuerzo con colegas",
                "start": "2024-01-25T13:00:00.000Z",
                "end": "2024-01-25T14:00:00.000Z"
            }
        ]
    </script>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('agendaApp', () => ({
                locale: 'es-mx',
                today: new Date(),
                events: [],
                init() {
                    this.events = JSON.parse(document.getElementById('events').textContent) || [];
                },
                formatWeekday(locale = 'en-US', date, format) {
                    const weekdayFormatter = new Intl.DateTimeFormat(locale, {weekday: format});
                    return weekdayFormatter.format(date)
                },
                tasksBetweenDates(events, startDate, endDate) {
                    return events.filter(task => {
                        const taskStart = new Date(task.start);
                        const taskEnd = new Date(task.end);
                        return (taskStart >= startDate && taskStart <= endDate)
                            || (taskEnd >= startDate && taskEnd <= endDate)
                            || (taskStart <= startDate && taskEnd >= endDate);
                    });
                },
                uniqueDates(tasks) {
                    const dates = new Set();
                    tasks.forEach(task => {
                        dates.add(new Date(task.start).toISOString().split('T')[0]);
                        dates.add(new Date(task.end).toISOString().split('T')[0]);
                    });
                    return Array.from(dates).map(date => new Date(date)).sort((a, b) => a - b);
                },
                getTasksForDate(events, date) {
                    const targetDate = date.toISOString().split('T')[0];
                    return events.filter(task => {
                        const taskStart = new Date(task.start).toISOString().split('T')[0];
                        const taskEnd = new Date(task.end).toISOString().split('T')[0];
                        return taskStart === targetDate || taskEnd === targetDate;
                    });
                },
                formatTimeRange(start, end) {
                    const formatTime = date => {
                        const hours = date.getUTCHours() % 12 || 12;
                        const ampm = date.getUTCHours() >= 12 ? 'p.m.' : 'a.m.';
                        return `${hours} ${ampm}`;
                    };
                    return `${formatTime(new Date(start))} - ${formatTime(new Date(end))}`;
                },
                getMonthNames(locale = 'en-US', format = 'long') {
                    const monthFormatter = new Intl.DateTimeFormat(locale, {month: format});
                    return Array.from({length: 12}, (_, month) =>
                        monthFormatter.format(new Date(2020, month, 1))
                    );
                },
                getWeeksInMonth(year, month) {
                    const MS_PER_DAY = 24 * 60 * 60 * 1000;

                    let startDate = new Date(year, month, 1);
                    let endDate = new Date(year, month + 1, 0);

                    startDate = new Date(startDate.getTime() + ((startDate.getDay() + 6) % 7) * MS_PER_DAY);
                    endDate = new Date(endDate.getTime() + (7 - endDate.getDay()) * MS_PER_DAY);

                    const numberOfWeeks = Math.floor((endDate - startDate) / (7 * MS_PER_DAY)) + 1;

                    return Array.from({length: numberOfWeeks}, (_, i) => {
                        const monday = new Date(startDate.getTime() + i * 7 * MS_PER_DAY);
                        const sunday = new Date(monday.getTime() + 6 * MS_PER_DAY);
                        return [monday, sunday];
                    }).filter(week => week[0].getMonth() === month || week[1].getMonth() === month);
                },
                formatDateRange(locale = 'en-US', start, end) {
                    const startDay = start.getDate();
                    const startMonthName = start.toLocaleDateString(locale, {day: 'numeric', month: 'short'});
                    const endMonthName = end.toLocaleDateString(locale, {day: 'numeric', month: 'short'});

                    return start.getMonth() === end.getMonth() ?
                        `${startDay} - ${endMonthName}` :    // 1 - 7 de julio
                        `${startMonthName} - ${endMonthName}`; // 30 de julio - 5 de agosto
                }
            }));
        });
    </script>
{% endblock %}



{% block nav %}
    <a class="navbar-brand fw-light" href="#">
        TimePulse
    </a>

    <div class="d-flex align-items-center">
        {# Calendar #}
        <a class="btn btn-large" href="">
            <i class="bi bi-calendar-day"></i>
        </a>

        {# Dropdown #}
        <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block btn" data-bs-toggle="dropdown" aria-expanded="true">
                <i class="bi bi-three-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu text-small shadow-sm"
                style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 34px, 0px);"
                data-popper-placement="bottom-end">


                <li class="dropdown-item py-2 " data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ir a</li>
                <li><a class="dropdown-item py-2" href="#">Ajustes</a></li>

            </ul>
        </div>
    </div>
{% endblock %}




{# Lista de eventos #}
{% block main %}


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title text-center" id="staticBackdropLabel">Modal title</span>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>












    <div class="container col-md-7" style="padding-top: 2.5rem; padding-bottom: 4.5rem;" x-data="agendaApp">
        <template x-for="(month, index) in getMonthNames(locale)">
            <div class="row">
                {# Mes #}
                <div class="pt-5 pb-2 mb-3 border-bottom">
                    <span class="fs-4 text-capitalize" x-text="month"></span>
                </div>

                <template x-for="(week, index) in getWeeksInMonth(today.getFullYear(), index)">
                    <div>
                        {# Semana #}
                        <div class="my-1">
                            <span class="text-secondary small"
                                  x-text="formatDateRange(locale, week[0], week[1])"></span>
                        </div>

                        <template x-for="eventDate in uniqueDates(tasksBetweenDates(events, week[0], week[1]))">

                            <div class="row mb-2 py-1">
                                {# dia #}
                                <div class="col-2 text-center my-1">
                                    <div x-text="formatWeekday(locale, eventDate, 'short')"></div>
                                    <div class="fs-4" x-text="eventDate.getDate()"></div>
                                </div>

                                <div class="col">
                                    {# Tareas #}
                                    <template x-for="task in getTasksForDate(events, eventDate)">
                                        <a href="#" class="col btn btn-sm bg-body-secondary w-100 my-2">
                                            <div class="text-start">
                                                <span class="text-body fw-medium" x-text="task.name"></span>
                                                <br>
                                                <span class="small"
                                                      x-text="formatTimeRange(task.start, task.end)"></span>
                                            </div>
                                        </a>
                                    </template>
                                </div>
                            </div>

                        </template>
                    </div>
                </template>
            </div>
        </template>


        {% include "agenda/bottom-navigation.html" %}

    </div>
{% endblock %}
