{% extends 'layouts/base.html' %}

{% block content %}
  <div class="col-lg-4 px-3 mt-5">
    <!-- border bg-light -->

    <form method="post" class="row d-flex justify-content-center">
      <label class="h2 my-4 text-center" for="">
        Ingresar a DMRS
      </label>

      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Nombre o contraseña invalidos
        </div>
      {% endif %}

      <div class="row d-flex py-5 gap-5 border-top">
        {% csrf_token %}

        <div class="form-group">
          <label>Nombre de Usuario</label>
          {{ form.username }}
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          {{ form.password }}
        </div>
      </div>

      <div class="col d-flex mt-3 gap-2 ">
        <a class="w-50 btn btn-outline-primary" href="{% url 'login' %}">
          Abrir monitor
        </a>
        <button class="w-50 btn btn-primary " type="submit">
          Iniciar Sesión
        </button>
      </div>
    </form>
  </div>
{% endblock %}
