{% extends 'layouts/base.html' %}

{% block headerExtra %}
  <title>Monitor</title>
{% endblock %}

{% block content %}
  <body class="">
    <div class="bg-primary text-light fs-5 p-5">
      <div class=" d-flex">

        <div class="text-light text-center">
          <p class="">Consultorio</p>
          <h1 class="display-3 fw-bold ">A1</h1>
        </div>

        <div class="mx-5  w-100  align-self-center">
            <p class="">Paciente</p>
            <p class="fw-bold ">MERCEDES MARIA LÓPEZ GONZÁLEZ</p>
        </div>

      </div>
    </div>

    <div class="container fs-5 pt-5">
      <label class="fw-bold">Siguientes</label>
      <ul>
        <li>GONZALO LUIS BALCAZAR CAMPOVERDE</li>
        <li>CARLOS DANIEL VILLAVICENCIO PESANTEZ</li>
        <li>XAVIER EDUARDO MONTALVO APONTE</li>
      </ul>
    </div>
  </body>
{% endblock %}
