<div class="accordion-item">
  <div class="accordion-header">
    <button class="accordion-button collapsed" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#diagnostico">Diagnostico</button>
  </div>

  <div id="diagnostico" class="accordion-collapse collapse" data-bs-parent="#doctorAccordion">
    <div class="accordion-body">
      <div class="">
        <div class=""></div>

        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
      </div>
    </div>
  </div>
</div>
