<div class="accordion-item">
  <div class="accordion-header" id="headingOne">
    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">Exploración física</button>
  </div>

  <div id="collapseOne" class="accordion-collapse collapse show " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div class="input-group mb-3">
        <span class="input-group-text">Peso (kg)</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Temperatura (C)</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Presion (mmHg)</span>
        <input type="text" class="form-control" aria-label="Server" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Altura (m)</span>
        <input type="text" class="form-control" aria-label="Server" />
      </div>
    </div>
  </div>
</div>
