<div class="accordion-item">
  <div class="accordion-header">
    <button class="accordion-button collapsed" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#historia">Historia Clinica</button>
  </div>

  <div id="historia" class="accordion-collapse collapse" data-bs-parent="#doctorAccordion">
    <div class="accordion-body">
      <div class="input-group mb-3">
        <span class="input-group-text">Grupo Sanguineo</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Dirección</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Alergias</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" />
      </div>

      <div class="">
        <div class="">Medicamentos Actuales</div>

        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>
