{% extends '../layouts/navbar.html' %}

{% block content %}
  <div class="container-lg d-flex mt-3">
    <div class="col-md-6">
      {% comment %} seccion izquierda {% endcomment %}
      <div class="accordion" id="accordionExample">
        {% include 'doctor/sections/historia.html' %}
        {% include 'doctor/sections/diagnostico.html' %}
        {% include 'doctor/sections/receta.html' %}
      </div>
    </div>

    <div class="col-md-6 overflow-auto" id="stdout">
      {% comment %} Seccion derecha {% endcomment %}
    </div>
  </div>
{% endblock %}
