{% extends '../layouts/navbar.html' %}

{% block content %}
  <div class="container-lg d-flex mt-3">
    <div class="col-md-6">
      {% comment %}seccion izquierda{% endcomment %}
      <div class="accordion" id="doctorAccordion">
        {% include 'doctor/sections/exploracion.html' %}
        {% include 'doctor/sections/historia.html' %}
        {% include 'doctor/sections/diagnostico.html' %}
        {% include 'doctor/sections/receta.html' %}
      </div>
    </div>

    <div class="col-md-6 overflow-auto px-5" id="stdout">
      {% comment %}Seccion derecha{% endcomment %}
      <label class="h6 mb-3">Informacion del paciente</label>

      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre(es)</span>
        <input type="text" class="form-control" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Paterno</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" />
        <span class="input-group-text">Materno</span>
        <input type="text" class="form-control" aria-label="Server" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Dia de nacimiento</span>
        <input type="date" class="form-control" placeholder="Username" aria-label="Username" />
        <span class="input-group-text">Sexo</span>
        <input type="text" class="form-control" aria-label="Server" />
      </div>

      <label class="h6 my-3">Contacto</label>
      <div class="input-group mb-3">
        <span class="input-group-text">Email</span>
        <input type="email" class="form-control" placeholder="Username" aria-label="Username" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Telefono</span>
        <input class="form-control"  type="tel" name="telefono" placeholder="(Código de área) Número" />
      </div>

      <button class="btn btn-primary mt-4 float-end">Finalizar Consulta</button>
    </div>
  </div>
{% endblock %}
